body {
  background: linear-gradient(60deg, #e1f2d7, #819e75);
  background-size: cover;
  height: auto;
  background-attachment: fixed;
}

h1 {
  color: #485e40
}

.whiteHead {
  color: white;
}

.greenHead {
  color: #485e40
}

input {
  padding: .7rem;
  font-size: 1.2rem;
  color: #485e40;
  font-weight: 500;
  border-radius: 0.5rem;
  border: none;
}

button {
  padding: 1rem;
  margin: 0 1rem 0 1rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #485e40;
  color: white;
  transition: ease 0.3s;
  font-size: 1rem;
}

button:hover {
  scale: 1.1;
  cursor: pointer;
}

.counterSection {
  margin-bottom: 3rem;
}

/* SVG classes on hover and based on color properties */

.whiteClass g {
  fill: white;
}

.greenClass,
.whiteClass {
  height: 10rem;
}

.greenClass g {
  fill: #485e40;
}

.greenClass:hover,
.whiteClass:hover {
  animation: spin linear 4s;
  cursor: pointer;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}