body {
  background: linear-gradient(60deg, #e1f2d7, #819e75);
  background-size: cover;
  height: auto;
  background-attachment: fixed;
}

h1 {
  color: #485e40
}

.whiteHead {
  color: white;
}

.greenHead {
  color: #485e40
}

button {
  padding: 1rem;
  margin: 0 1rem 0 1rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #485e40;
  color: white;
  transition: ease 0.3s;
}

button:hover {
  scale: 1.1;
  cursor: pointer;
}

.counterSection {
  margin-bottom: 3rem;
}

img {
  height: 10rem;
}

img:hover {
  animation: spin linear 4s;
  cursor: pointer;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}